<li class="hasData" aid="40B94830-45DB-4273-BB67-068D8C3F2FA1" did="B33A380A-1B4D-408A-A02E-3078E7B05483">
    <h2>Yes, tests should be written</h2>
    <p>They are useful</p>
    <div class="qt">
        <cite>Posted by: <a href="/SomeUser/">SomeUser</a></cite>
        <div class="report" id="40B94830-45DB-4273-BB67-068D8C3F2FA1" r_type="argument">
            <a id="report-content" rel="nofollow" href="javascript:void(0)" onclick="
              _gaq.push(['_trackEvent', 'UI', 'Report Post', 'https://www.debate.org/opinions/should-drug-users-be-put-in-prison'])
            ">
                Report Post
            </a>
        </div>
    </div>
    <div class="arg-footer af-none">
        <div class="left">
            <a href="javascript:void(0);" class="like" title="Like or unlike this opinion" onclick="
                  _gaq.push(['_trackEvent', 'UI', 'Like', '/opinions/should-drug-users-be-put-in-prison'])
                ">
                Like
            </a>
            <a class="reply" href="javascript:void(0);" title="Reply to this opinion" onclick="
              _gaq.push(['_trackEvent', 'UI', 'Reply', '/opinions/should-drug-users-be-put-in-prison'])
            ">
                Reply
            </a>
            <a class="challenge" href="/debate/?member=Adalman" title="Challenge this member to a debate" onclick="
                _gaq.push(['_trackEvent', 'UI', 'Challenge', '/opinions/should-drug-users-be-put-in-prison'])
              ">
                Challenge
            </a>
        </div>
        <div class="right">
            <a class="like-contain" href="javascript:void(0);" title="Like or unlike this opinion" onclick="
              _gaq.push(['_trackEvent', 'UI', 'Like', '/opinions/should-drug-users-be-put-in-prison'])
            ">
                <div class="thumb"></div>
                <div class="l-cnt">1</div>
            </a>
            <a class="msg-contain" href="javascript:void(0);" title="View replies">
                <div class="msg"></div>
                <div class="m-cnt">3</div>
            </a>
        </div>
    </div>
    <div class="comment-container" style="display:none;">
        <div class="view-all"></div>
        <div class="hide-all"></div>
    </div>
    <div class="new-comment-container" style="display:none;">
        <textarea class="new-comment" placeholder="Write a reply..." style="overflow: hidden; resize: none; height: 65px;"></textarea>
        <div class="left-bottom">
            <span>(Maximum 900 words)</span>
            <span class="counter"></span>
            <div class="comment-error"></div>
        </div>
        <button>Submit</button>
    </div>
</li>