<ul>
  <li class="hasData" aid="F237A9B4-F125-49A4-AEBB-C703A76B7FF6" did="3E9294E3-B748-406D-9C70-07CE094FFEB9">
    <h2>First headline</h2>
    <p>First argument</p>
    <div class="qt"><cite>Posted by: <a href="/First_Author/">First_Author</a></cite>
      <div class="report" id="F237A9B4-F125-49A4-AEBB-C703A76B7FF6" r_type="argument"><a id="report-content" rel="nofollow"
          href="javascript:void(0)" onclick="
    _gaq.push(['_trackEvent', 'UI', 'Report Post', 'https://www.debate.org/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
  ">
          Report Post</a></div>
    </div>
    <div class="arg-footer af-none">
      <div class="left"><a href="javascript:void(0);" class="like" title="Like or unlike this opinion" onclick="
        _gaq.push(['_trackEvent', 'UI', 'Like', '/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
      ">
          Like
        </a><a class="reply" href="javascript:void(0);" title="Reply to this opinion" onclick="
    _gaq.push(['_trackEvent', 'UI', 'Reply', '/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
  ">
          Reply</a><a class="challenge" href="/debate/?member=Canadian_Patriot" title="Challenge this member to a debate"
          onclick="
      _gaq.push(['_trackEvent', 'UI', 'Challenge', '/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
    ">
          Challenge</a></div>
      <div class="right"><a class="like-contain" href="javascript:void(0);" title="Like or unlike this opinion" onclick="
    _gaq.push(['_trackEvent', 'UI', 'Like', '/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
  ">
          <div class="thumb"></div>
          <div class="l-cnt">5</div>
        </a><a class="msg-contain" href="javascript:void(0);" title="View replies">
          <div class="msg"></div>
          <div class="m-cnt">5</div>
        </a></div>
    </div>
    <div class="comment-container" style="display:none;">
      <div class="view-all"></div>
      <div class="hide-all"></div>
    </div>
    <div class="new-comment-container" style="display:none;"><textarea class="new-comment" placeholder="Write a reply..."
        style="overflow: hidden; resize: none; height: 65px;"></textarea>
      <div class="left-bottom"><span>(Maximum 900 words)</span><span class="counter"></span>
        <div class="comment-error"></div>
      </div><button>Submit</button></div>
  </li>
  <li class="hasData" aid="BD493F3C-1639-4B3E-B39C-722DC6420C86" did="3E9294E3-B748-406D-9C70-07CE094FFEB9">
    <h2>Second headline</h2>
    <p>Second argument</p>
    <div class="qt"><cite>Posted by: <a href="/Second_Author/">Second_Author</a></cite>
      <div class="report" id="BD493F3C-1639-4B3E-B39C-722DC6420C86" r_type="argument"><a id="report-content" rel="nofollow"
          href="javascript:void(0)" onclick="
    _gaq.push(['_trackEvent', 'UI', 'Report Post', 'https://www.debate.org/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
  ">
          Report Post</a></div>
    </div>
    <div class="arg-footer af-none">
      <div class="left"><a href="javascript:void(0);" class="like" title="Like or unlike this opinion" onclick="
        _gaq.push(['_trackEvent', 'UI', 'Like', '/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
      ">
          Like
        </a><a class="reply" href="javascript:void(0);" title="Reply to this opinion" onclick="
    _gaq.push(['_trackEvent', 'UI', 'Reply', '/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
  ">
          Reply</a><a class="challenge" href="/debate/?member=billsands" title="Challenge this member to a debate"
          onclick="
      _gaq.push(['_trackEvent', 'UI', 'Challenge', '/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
    ">
          Challenge</a></div>
      <div class="right"><a class="like-contain" href="javascript:void(0);" title="Like or unlike this opinion" onclick="
    _gaq.push(['_trackEvent', 'UI', 'Like', '/opinions/what-religion-is-the-better-yes-christianity-no-islam'])
  ">
          <div class="thumb"></div>
          <div class="l-cnt">6</div>
        </a><a class="msg-contain" href="javascript:void(0);" title="View replies">
          <div class="msg"></div>
          <div class="m-cnt">2</div>
        </a></div>
    </div>
    <div class="comment-container" style="display:none;">
      <div class="view-all"></div>
      <div class="hide-all"></div>
    </div>
    <div class="new-comment-container" style="display:none;"><textarea class="new-comment" placeholder="Write a reply..."
        style="overflow: hidden; resize: none; height: 65px;"></textarea>
      <div class="left-bottom"><span>(Maximum 900 words)</span><span class="counter"></span>
        <div class="comment-error"></div>
      </div><button>Submit</button></div>
  </li>
  <li class="nostyle" id="Main-Content-2-AdPlacement"></li>
</ul>